# dependencies
/node_modules/

# local credentials
/.env
/.env.local

# test output
/coverage/

# logs and temporary output
npm-debug.log*
*.devserver*.log
/work/
.vercel
.env*
__pycache__/
*.py[cod]
